
{% extends 'head.html' %}
{% block head %}
      <script type="text/javascript" src="{{ url_for('static', filename='js/four.js')}}"> </script>

{% endblock %}

        {% block content %}
        <div class="jumbotron" style="padding-top: 0px">
            <h1>Global statistics      {{ name }}         <div class="btn-group">

            <a href="{{ url_for('show_statistics', name=name ) }}" class="btn btn-lg btn-primary">
                Back to main panel</a>
        </div></h1>

        </div>


<script type="text/javascript">
var parsed = {{ amount | safe }};
var arr = [];
for(var x in parsed){
  arr.push(parsed[x]); }

var parsed2 = {{ time | safe }};
var arr2 = [];
for(var y in parsed2){
  arr2.push(parsed2[y]); }

</script>


        <div id="chartContainer" style="height: 300px; width: 50%;"></div>
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Nr</th>
                <th>Client</th>
                <th>Time near all products</th>
                <th>Amount of products viewed by client</th>
                <th>Send email</th>

              </tr>
            </thead>
            <tbody>
            {%  set i = 1 %}
            {% for client in clients %}
              <tr>
                <td>{{ i }}</td>
                <td>{{ client[0] }} </td>
                <td>{{ client[1] }} min</td>
                <td>{{ client[2] }}  </td>
                <td><a href="{{ url_for('send', email=client[0] ) }}" class="btn btn-md btn-danger">
                Send email to client</a>  </td>
              </tr>
            {%  set i = i + 1 %}
            {% endfor %}
            </tbody>
        </table>

        {% endblock %}
