
{% extends 'head.html' %}


        {% block content %}
        <div class="jumbotron" style="height: 200px">
            <h1>Global statistics</h1>
        <div class="btn-group">
            <a href="{{ url_for('show_statistics', name=name) }}" class="btn btn-lg btn-primary">
                Back to main panel</a>
        </div>
        </div>

        <div id="chartContainer" style="height: 200px; width: 50%;"></div>

{#


  <canvas id="myChart"></canvas>#}
{##}
{#        <script src="{{ url_for('static', filename='js/chart.js') }}"></script>#}


        {% endblock %}
