{% extends "layout.html" %}
{% block head %}

{% endblock %}

{% block content %}
    <link rel="stylesheet" href="/static/css/table.css"/>

    <div class="col-sm-12">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 hidden-xs">


    <div class="main_container">

                <table class="table table-striped" style="background: white">
                    <thead>
                    <tr>
                        <th>CHOSEN PRODUCTS</th>
                        <th>{{ details[0]['Name'] }}<br><img src="/static/img/{{ picks[0][3] }}_small.jpg" alt="some_text"
                                                       style="width: 180px;height: 250px; border: solid grey 2px;"></th>
                        <th>{{ details[2]['Name'] }}<br><img src="/static/img/{{ picks[1][3] }}_small.jpg" alt="some_text"
                                                       style="width: 180px;height: 250px; border: solid grey 2px"></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <th scope="row">Article number</th>
                        <td>{{ details[0]['Article Number'] }}</td>
                        <td>{{ details[2]['Article Number'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Heigth</th>
                        <td>{{ details[0]['Heigth'] }}</td>
                        <td>{{ details[2]['Heigth'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Width</th>
                        <th>{{ details[0]['Width'] }}</th>
                        <th>{{ details[2]['Width'] }}</th>
                    </tr>

                    <tr>
                        <th scope="row">Depth</th>
                        <td>{{ details[0]['Depth'] }}</td>
                        <td>{{ details[2]['Depth'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Colors</th>
                        <td>{{ details[0]['Colors'] }}</td>
                        <td>{{ details[2]['Colors'] }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Doors</th>
                        <td>{{ details[0]['Doors'] }}</td>
                        <td>{{ details[2]['Doors'] }}</td>
                    </tr>


                    <tr>
                        <th scope="row">Price</th>
                        <td>{{ details[0]['Price'] }}</td>
                        <td>{{ details[2]['Price'] }}</td>
                    </tr>

                    </tbody>
                </table>


            </div>
        </div>
    </div>
{% endblock %}
